<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body class="body">
    <div id="app" class="wrapper text-light ">
        <div class="container ">
            <div v-show="goToField === 'true'">
                <h2 class="text-center">Добро пожаловать в игру крестики нолики!</h2>
            <p>Пожалуйста, введите имена игроков:</p>
            <form action="#" class="form py-3">
                <div class="py-2">
                    <label for="playerOne" class="me-2">Игрок 1</label>
                    <input type="text" id="playerOne" placeholder="Введите имя" v-model="userOne">
                </div>
                <div class="py-2">
                    <label for="playerTwo" class="me-2">Игрок 2</label>
                    <input type="text" id="playerTwo" placeholder="Введите имя" v-model="userTwo">
                </div>
                <button class="my-3 btn btn-outline-light btn-lg form__btn" :disabled="stateOfBtn" @click="changePage">Старт</button>  
            </form>
            </div>
            
            <div class="my-5" v-show="goToField === 'false'">

              <!-- <div v-show="winnerOne === 'true' || winnerTwo === 'true'">
                <p class="position-absolute result">Поздравляем! Победитель игры {{player}}</p>
              </div>
              <div v-show="draw === 'true'">
                <p class="position-absolute top-50 start-50 translate-middle result">Ничья!</p>
              </div> -->
               <!-- btn btn-outline-light btn-lg  text-white -->

              <div v-show="winner === 'true'" class="my-5 position-absolute top-50 start-50 translate-middle text-center fs-1 fst-italic fw-bold result">
                <div ref="resWindow"></div>
                  <button class="m-2 btn btn-outline-secondary" @click="startAgain">Начать заново</button> 
                <button class="m-2 btn btn-outline-secondary" @click="startSameNames">Продолжить игру</button>
              </div>

              
              <div>
                <div class="text-center py-3 fw-bold fs-3">{{userOne}}</div>
                <div class="d-flex justify-content-center container__table">
                     <table class="table__table text-center border fs-1">
                        <tr>
                          <td id="1" @click ="addSign"></td>
                          <td id="2" class ="border border-top-0 " @click="addSign"></td>
                          <td id="3" @click ="addSign"></td>
                        </tr> 
                        <tr>
                          <td id="4" class ="border border-start-0" @click ="addSign"></td>
                          <td id="5" @click ="addSign"></td>
                          <td id="6" class="border border-end-0" @click ="addSign"></td>
                        </tr>
                        <tr>
                          <td id="7" @click ="addSign"></td>
                          <td id="8" class="border border-bottom-0" @click ="addSign"></td>
                          <td id="9" @click ="addSign" ></td>
                        </tr>
                   </table>     

                   <!-- <table class="border">
                    <tr v-for="(value, key, index) in object" >
                        <td @click.stop="addSign">{{ url }}</td>
                        <td @click.stop="addSign">{{ url }}</td>
                        <td @click.stop="addSign">{{ url }}</td>
                        
                    </tr>
                </table> -->
              
              </div>
                <div class="text-center py-4 fw-bold fs-3">{{userTwo}}</div>
              </div>
            </div>

           
        </div>
    </div>
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              userOne: '',
              userTwo: '',
              goToField: 'true',
              arrOne: [],
              arrTwo: [],
              player:'',
              winComb: [
                [1, 2, 3],
                [4, 5, 6],
                [7, 8, 9],
                [1, 4, 7],
                [2, 5, 8],
                [3, 6, 9],
                [1, 5, 9],
                [3, 5, 7],
              ],
              comb:'',
              winner: 'false',
              arrOfCells: []
              

            }
          }, 
       
          methods: {

            startAgain() {
              location.reload()
          },

            startSameNames() {

              this.winner = 'false'
              this.arrOne = []
              this.arrTwo = []

              let td = document.getElementsByTagName('td');
              for(let i = 0; i < td.length; i++) {
                td[i].textContent = ''
              }
            },
 
            addSign(cell) {
              
              if(this.arrOne.length === this.arrTwo.length) {
                this.player = this.userOne
                cell.target.textContent = 'X'

                this.arrOne.push(Number(cell.target.id))
                console.log(this.arrOne)
                this.arrOne.sort(function(a, b) {
                 return a - b;
                })
                
              } else {
                this.player = this.userTwo
                cell.target.textContent = '0'

                this.arrTwo.push(Number(cell.target.id))
                console.log(this.arrTwo)
                this.arrTwo.sort(function(a, b) {
                 return a - b;
                })
                
              }

              if(this.arrOne.length >= 3 || this.arrTwo.length >= 3) {
                for(let i = 0; i < this.winComb.length; i++) {
                  
                  if(JSON.stringify(this.arrOne) === JSON.stringify(this.winComb[i]) && this.winnerTwo != 'true') {
                    this.winner = 'true' 
                    this.$refs.resWindow.innerHTML = `Поздравляем! Победитель игры ${this.userOne}`  
                  } else if (JSON.stringify(this.arrTwo) === JSON.stringify(this.winComb[i]) && this.winnerOne != 'true') {
                    this.winner = 'true'
                    this.$refs.resWindow.innerText = `Поздравляем! Победитель игры ${this.userTwo}`
                  } else if (this.arrOne.length === 5 && this.winnerOne != 'true' && this.winnerTwo != 'true') {
                    this.winner = 'true'
                    this.$refs.resWindow.innerText = "Ничья";
                  } 
                } 
              }
            },

            changePage(event) {
                this.goToField = 'false'
            },
          },

          computed: {
            stateOfBtn() {
              if (this.userOne.length > 0 && this.userTwo.length > 0) {
                  return false
              } else {
                  return true
              }       
            }
          }

        }).mount('#app')
      </script>
</body>
</html>