
.body {
    background-color: #3cdfae;
    background-size: 100%;
}

.form__btn {
    color: #3cdfae;
    background-color: azure;
}

td {
  height: 150px;  
  width: 150px;
}

.result {
    width: 400px;
    height: 300px;
    color: #3cdfae;
    background-color: #ffffff;
    border: #7deccb 3px solid;
}

.buttonTwo {
    background-color: #3cdfae;
}